<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Index</title>
	</head>
	<body>
		<div th:fragment="item-table" style="padding: 0px !important;" class="container" id="item-table">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Game</th>
						<th scope="col">Expiration Date</th>
						<th scope="col">Quantity</th>
						<th scope="col">Properties</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="item : ${items}">
					    <tr>
					        <td th:text="${item.id}"></td>
					        <td th:text="${item.name}"></td>
					        <td th:text="${item.game}"></td>
					        <td th:text="${item.expirationDate}"></td>
					        <td th:text="${item.quantity}"></td>
					        <td>
					        	<a href='#'
					        	   data-toggle="modal" 
					        	   th:data-target="'#modalProperties' + ${item.id}">
					        	   Show Properties
					        	</a>
					        	
					        	<div class="modal fade" th:id="modalProperties + ${item.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								  <div class="modal-dialog modal-dialog-centered" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title text-center" id="exampleModalLongTitle">Properties</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								      <div class="modal-body">
								        <table class="table">
											<thead>
												<tr>
													<th scope="col">#</th>
													<th scope="col">Name</th>
													<th scope="col">Value</th>
												</tr>
											</thead>
											<tbody>
												<th:block th:each="prop : ${item.properties}">
													<tr>
												        <td th:text="${prop.id}"></td>
												        <td th:text="${prop.name}"></td>
												        <td th:text="${prop.value}"></td>
													</tr>
												</th:block>
											</tbody>
										</table>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								      </div>
								    </div>
								  </div>
								</div>
					        </td>
					    </tr>
					</th:block>
				</tbody>
			</table>
		</div>
	  </body>
</html>