<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Index</title>
	</head>
	<body>
		<div th:fragment="user-table" style="padding: 0px !important;" class="container" id="user-table">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Username</th>
						<th scope="col">#</th>
					</tr>
				</thead>
					<tbody>
						<th:block th:each="user : ${users}">
						    <tr>
						        <td th:text="${user.id}"></td>
						        <td th:text="${user.username}"></td>
						        <td>
						        	<a href='#'
						        	   th:data-user="${user.username}" 
						        	   th:onclick="showUserItems(this.getAttribute('data-user'))">
						        	   Show Items
						        	</a>
						        </td>
						    </tr>
						</th:block>
					</tbody>
			</table>
		</div>
	  </body>
</html>